body 
{
	font-family: arial, sans-serif;
}

a
{
	border: 1px solid transparent;
	cursor: pointer;
	display: block;
	line-height: 1.5;
	overflow: hidden;
	padding: 0 1.5em 0 0.25em;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
a:hover
{
	background: lightBlue;
	border-color: blue;
}
	a > i
	{
		margin-right: 0.5em;
	}
	a > .delete-bookmark
	{
		color: #000;
		cursor: pointer;
		display: none;
		position: absolute;
		right: 0.25em;
		top: 0;
	}
	a > .delete-bookmark:hover
	{
		color: #f00;
	}
	a:hover > .delete-bookmark
	{
		display: block;
	}

.closed-tabs-container
{
	padding: 0;
}

.current-view
{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
	.current-view > li
	{
		margin: 0.25em 0;
		padding: 0 0 0 0.25em;
		width: 100%;
	}
	.current-view > li.open-folder
	{
		padding: 0;
	}
		.current-view > li > .bookmark
		{
			padding-left: calc(20px + 0.25em);
		}
			.current-view > li > a > .favicon
			{
				left: 2px;
				max-height: 16px;
				max-width: 16px;
				position: absolute;
				top: 4px;
			}
