::backdrop
{
	background: rgba(0, 0, 0, 0.25);
}

.classic-context-menu-dialog
{
	background: #F0F0F0;
	border: 2px solid #000;
	border-radius: 6px;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding: 1em 1em 3em;
	width: 300px;
}
	.classic-context-menu-dialog > button
	{
		background: inherit;
		border: 1px solid #000;
		border-radius: 6px;
		bottom: 0.5em;
		box-shadow: none;
		color: inherit;
		font-size: inherit;
		padding: 0.5em;
		position: absolute;
		right: 0.5em;
		text-transform: none;
		text-shadow: none;
	}
	.classic-context-menu-dialog > button[name=save-bookmark]
	{
		right: 80px;
	}
	.classic-context-menu-dialog > button:focus
	{
		outline: none;
	}
	.classic-context-menu-dialog > button:hover
	{
		background: inherit;
		border: 1px solid #000;
		border-radius: 6px;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		text-shadow: none;
	}
	.classic-context-menu-dialog > dl
	{
		display: flex;
		flex-flow: row wrap;
		line-height: 2;
		margin: 0;
		padding: 0;
	}
		.classic-context-menu-dialog > dl > dt
		{
			flex: 1 1 33%;
			margin: 0;
			max-width: 115px;
			padding: 0;
			text-align: left;
		}
		.classic-context-menu-dialog > dl > dd
		{
			flex: 1 1 33%;
			margin: 0 0 0 0.5em;
			overflow-x: auto;
			padding: 0;
			text-align: left;
			white-space: nowrap;
		}
		.classic-context-menu-dialog > dl > dd::-webkit-scrollbar
		{
			display: none;
		}
			.classic-context-menu-dialog > dl > dd > input,
			.classic-context-menu-dialog > dl > dd > select
			{
				background: #fff;
				border: 1px solid #f0f0f0;
				border-radius: 4px;
				box-shadow: none;
				box-sizing: border-box;
				color: #000;
				font-size: inherit;
				font-weight: normal;
				outline: none;
				padding: 2px 4px;
				width: 100%;
			}
			.classic-context-menu-dialog > dl > dd > input:focus,
			.classic-context-menu-dialog > dl > dd > select:focus
			{
				background: #fff;
				box-shadow: none;
				color: #000;
			}
		.classic-context-menu-dialog > dl > .long-description
		{
			background: #fff;
			color: #000;
			flex: 1 1 auto;
			margin: 0.5em 0 0;
			white-space: normal;
			width: 100%;
		}
			.classic-context-menu-dialog > dl > .long-description > ul
			{
				height: 150px;
				list-style: none;
				margin: 0;
				overflow-y: scroll;
				padding: 0 0 0 0.25em;
			}
